### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data = "Resources/schools_complete.csv"
student_data = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_df = pd.read_csv(school_data)
student_df = pd.read_csv(student_data)
school_df.head()
student_df.head()

# Combine the data into a single dataset.  
#school_data_complete = pd.merge(student_df, school_df, how="left", on=["school_name", "school_name"])
#school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [2]:
#Rename the school in both column tables
school_df = school_df.rename(columns={"name":"SchoolName"})
student_df = student_df.rename(columns={"school":"SchoolName"})

In [3]:
#Calculate the total number of schools
number_schools = len(school_df["school_name"].unique())

KeyError: 'SchoolName'

In [ ]:
#Calculate the total number of students
number_student = student_df["size"].sum()

In [ ]:
#Calculate the total budget
total_budget = school_df["budget"].sum()

In [ ]:
#Calculate the average math score
average_math_score = student_df["math_score"].mean()

In [ ]:
#Calculate the average reading score
average_reading_score = student_df["reading_score"].mean()

In [ ]:
#Calculate the percentage of students with a passing math score (70 or greater)
passing_math_score = ((student_df["reading_score"] > 70).sum()/student_df["math_score"].count())*100

In [ ]:
#Calculate the percentage of students with a passing reading score (70 or greater)
passing_reading_score = ((student_df["reading_score"] > 70).sum()/student_df["reading_score"].count())*100

In [ ]:
#Calculate the percentage of students who passed math and reading (% Overall Passing)
passed_math_reading = ((passing_math_score + passing_reading_score)/2)

In [ ]:
#Create a dataframe to hold the above results
results = pd.DataFrame({"Total Schools":[total_schools],
                               "Total Students":[total_students],
                               "Budget" : [total_budget],
                               "Average Math Score":[average_math_score],
                               "Average Reading Score":[average_reading_score],
                               "% Passing Math":[passing_math_score],
                               "% Passing Reading": [passing_reading_score],
                               "% Passed_math_reading":[passed_math_reading]})

In [ ]:
results = results [["Total Schools", "Total Students", "Budget", "Average Math Score", "Average Reading Score", "% Passing Math",
"% Passing Reading", "% Passed_math_reading"]]
results.head()

In [ ]:
#Optional: give the displayed data cleaner formatting

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [ ]:
#School Name
school_name = school_df

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type